<?php

define('UC_CONNECT', 'mysql');
define('UC_DBHOST', 'localhost');
define('UC_DBUSER', 'root');
define('UC_DBPW', '');
define('UC_DBNAME', 'x1');
define('UC_DBCHARSET', 'gbk');
define('UC_DBTABLEPRE', '');
define('UC_DBCONNECT', '0');
define('UC_KEY', '');
define('UC_API', '');
define('UC_CHARSET', 'gbk');
define('UC_IP', '');
define('UC_APPID', '');
define('UC_PPP', '');

$conf['auth']['uc']['cookie'] = 'dokuwiki_uc_auth';
$conf['auth']['uc']['cookiedomain'] = '';
$conf['auth']['uc']['cookiepath'] = '/';
$conf['auth']['uc']['charset'] = UC_CHARSET;
$conf['auth']['uc']['sync'] = true;
?>