<?php
/**
 * Ucenter Authentication configuration file
 * @author dorange<daxingplay@gmail.com>
 * @link <http://www.techcheng.com/website/dokuwiki/release-ucenter-authentication-for-dokuwiki.html>
 */

// copy the config from ucenter directly and replace the lines below.
define('UC_CONNECT', '');
define('UC_DBHOST', '');
define('UC_DBUSER', '');
define('UC_DBPW', '');
define('UC_DBNAME', '');
define('UC_DBCHARSET', '');
define('UC_DBTABLEPRE', '');
define('UC_DBCONNECT', '');
define('UC_KEY', '');
define('UC_API', '');
define('UC_CHARSET', '');
define('UC_IP', '');
define('UC_APPID', '');
define('UC_PPP', '');

// define some values for ucenter auth.
$conf['auth']['uc']['cookie'] = 'dokuwiki_uc_auth';
$conf['auth']['uc']['cookiedomain'] = '';
$conf['auth']['uc']['cookiepath'] = '/';
$conf['auth']['uc']['charset'] = UC_CHARSET;
// do you need synlogin/synlogoff ? if so, set it to true.
$conf['auth']['uc']['sync'] = true;

// set group type. There are three types: discuz, file, mysql. Default to discuz. In 2.0 Beta, only discuz type is supported.
$conf['auth']['uc']['group_type'] = 'discuz';
// config the discuz root directory. Relative to Dokuwiki root dir.
$conf['auth']['uc']['discuz_root'] = '../';
?>